
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

nav img{
    margin-left: 50px;
}

.links, .open{
    margin-right: 50px;
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.bar{
    display: none;
}

@media (max-width: 780px) {
     .links{
    margin-right: 50px;
    width: 35%;
    display: flex;
    justify-content: space-between;
    display: none;
}
.bar{
    display: block;
}

.link{
    display: none;
}

.open{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 40px;
    right:0;
    left: 0;
    background-color: green;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}